<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear/>
    <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
    <add key="_nix" value="/tmp/nix-shell-2611454-0/nuget.OCbphv/source"/>
  </packageSources>
  <config>
    <clear/>
  </config>
  <bindingRedirects>
    <clear/>
  </bindingRedirects>
  <packageRestore>
    <clear/>
  </packageRestore>
  <solution>
    <clear/>
  </solution>
  <auditSources>
    <clear/>
  </auditSources>
  <apikeys>
    <clear/>
  </apikeys>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
  <activePackageSource>
    <clear/>
  </activePackageSource>
  <fallbackPackageFolders>
    <clear/>
  </fallbackPackageFolders>
  <packageSourceMapping>
    <clear/>
  </packageSourceMapping>
  <packageManagement>
    <clear/>
  </packageManagement>
</configuration>
